/* RESPONSIVE DESIGN */

/* Mobile */
@media (max-width: 768px) {

    #why-choose-us article {
        column-count: 2;
    }

    #homeImage {
        width: 100%;
    }
}

/* Small Mobile */
@media (max-width: 576px) {

    #why-choose-us article {
        column-count: 1;
    }
}