<footer class="bg-dark text-light text-center py-4 mt-5">
    <div class="container-fluid">
        <p class="mb-1">This is a college project. Done by <strong>Adriana Prepeshniuk S00273868</strong>.</p>
        <p class="mb-3">&copy; 2025 <span class="text-danger">BiaBao</span>. All rights reserved.</p>
        
        <address class="mb-3">
            123 Food Street, Sligo, Ireland | 
            Phone: <a href="tel:+353711234567" class="text-decoration-none text-danger">(071) 123 4567</a> | 
            Email: <a href="mailto:info@biabao.ie" class="text-decoration-none text-danger">info@biabao.ie</a>
        </address>
        
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link text-light" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="about">About Us</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="menu">Menu</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="contact">Contact Us</a></li>
            </ul>   
        </nav>
    </div>
</footer>
