
<style>
    body {
        background-color: #000;
        color: #fff;
        padding-top: 120px;
    }
    h2 {
        color: #FFC107;
    }
    .content {
        background-color:#141414;
    }
</style>

<main>
    <h2 style="margin-top: 20px; text-align: center;">Our Menu</h2>
    
    <section class="menu-gallery">
        <figure>
            <img src="images/dinner1.jpg" alt="Dinner Menu Page 1">
            <figcaption>Dinner Menu Page 1</figcaption>
        </figure>
        <figure>
            <img src="images/dinner2.jpg" alt="Dinner Menu Page 2">
            <figcaption>Dinner Menu Page 2</figcaption>
        </figure>
        <figure>
            <img src="images/lunch1.jpg" alt="Lunch Menu Page 1">
            <figcaption>Lunch Menu Page 1</figcaption>
        </figure>
        <figure>
            <img src="images/lunch2.jpg" alt="Lunch Menu Page 2">
            <figcaption>Lunch Menu Page 2</figcaption>
        </figure>
        <figure>
            <img src="images/glutenfree1.jpg" alt="Gluten Free Menu Page 1">
            <figcaption>Gluten Free Menu Page 1</figcaption>
        </figure>
        <figure>
            <img src="images/glutenfree2.jpg" alt="Gluten Free Menu Page 2">
            <figcaption>Gluten Free Menu Page 2</figcaption>
        </figure>
        <figure>
            <img src="images/vegan1.jpg" alt="Vegan Menu Page 1">
            <figcaption>Vegan Menu Page 1</figcaption>
        </figure>
        <figure>
            <img src="images/vegan2.jpg" alt="Vegan Menu Page 2">
            <figcaption>Vegan Menu Page 2</figcaption>
        </figure>
    </section>

    <!-- Updated Dishes Section using Bootstrap Grid -->
    <section id="menu" class="container-fluid my-5">
        <h2 class="text-center mb-4">Our Dishes</h2>
        <div class="row g-4">
            <div class="col-12 col-md-6 col-lg-4">
                <img src="images/baozi.png" alt="Baozi">
                <p>Baozi</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <img src="images/braisedBeef2.jpg" alt="Braised Beef">
                <p>Taiwanese Braised Beef</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <img src="images/CrispyDuck.jpg" alt="Crispy Roast Duck">
                <p>Crispy Roast Duck</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <img src="images/koreanFriedRice.jpg" alt="Korean Fried Rice">
                <p>Korean Fried Rice</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <img src="images/ipohKariDuckNS.jpg" alt="Ipoh Kari Duck Noodle Soup">
                <p>Ipoh Kari Duck Noodle Soup</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <img src="images/thaiSweetChilliChicken.jpg" alt="Thai Sweet-Chilli Chicken">
                <p>Thai Sweet-Chilli Chicken</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <img src="images/vietnamesePho.jpg" alt="Vietnamese Pho">
                <p>Vietnamese Pho</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <img src="images/thaiGreenCurry.jpg" alt="Thai Green Curry">
                <p>Thai Green Curry</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <img src="images/japaneseYakitori.jpg" alt="Japanese Yakitori">
                <p>Japanese Yakitori</p>
            </div>
        </div>
    </section>

    <aside>
        <h2>Order Takeaway in Advance</h2>
        <p>Call us to place your order and pick it up at your convenience!</p>
        <p>📞 <a href="tel:+353711234567">(071) 123 4567</a></p>
    </aside>
</main>

