/* RESPONSIVE DESIGN */
/* Mobile */
@media (max-width: 768px) {
  #why-choose-us article {
    -moz-column-count: 2;
         column-count: 2;
  }
  #homeImage {
    width: 100%;
  }
}
/* Small Mobile */
@media (max-width: 576px) {
  #why-choose-us article {
    -moz-column-count: 1;
         column-count: 1;
  }
}